body{
	margin-top: 1.5rem;
	background: white;
}

a{
	text-decoration: none;
	color: white;
}

a:hover{
	color: white;
}

.card{
	margin: 0.5rem;

	width: 20rem;
	height: 16rem; 
	
	text-align: center;	
	justify-content: safe center;

	font-size: 25pt;

	border-style: none;
	border-radius: 0.9rem;

	box-shadow: 2px 2px 5px black;
	background: rgb(5,2,57);

	/*Verde*/
	background: rgb(34,149,74);
	background: linear-gradient(4deg, rgba(34,149,74,1) 0%, rgba(29,185,84,1) 100%);
	color: white;
}


.card:hover{
	box-shadow: 4px 4px 5px black;
	transition:1.5s;
}

